@{
    ViewBag.Title = "Web Report Viewer Sample";
}
<h4>@ViewBag.Message</h4>
<hr />
<h3>@ViewBag.Title</h3>
<p>The DevExpress Reporting Suite provides the capability to create reports and reporting applications targeted at the ASP.NET MVC platform.</p>

